*, *:before, *:after {box-sizing: border-box;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;word-wrap: break-word;}
body {line-height: 1;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
nav ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";content: none;}
a {margin: 0;padding: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
ins {color: #333;text-decoration: none;}
mark {background-color: #ff9;color: #333;font-style: italic;font-weight: bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted;cursor: help;}
table {border-collapse: collapse;border-spacing: 0;}
hr {display: block;height: 1px;border: 0;border-top: 1px solid #eee;margin: 1em 0;padding: 0;}
input, select {vertical-align: middle;}
sup {top: -.5em;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
.no-list-style {list-style: none;margin: 0;padding: 0;}
figure > img {display: block;}
img {height: auto;max-width: 100%;}
img[class*="align"], img[class*="attachment-"] {height: auto;}
embed, iframe, object {max-width: 100%;width: 100%;}
.screen-reader-text {clip: rect(1px,1px,1px,1px);position: absolute !important;height: 1px;width: 1px;overflow: hidden;}
.screen-reader-text:focus {background-color: #f1f1f1;border-radius: 3px;box-shadow: 0 0 2px 2px rgba(0,0,0,.6);clip: auto !important;color: #21759b;display: block;font-size: 14px;font-size: .875rem;font-weight: bold;height: auto;left: 5px;line-height: normal;padding: 15px 23px 14px;text-decoration: none;top: 5px;width: auto;z-index: 100000;}
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {border: none;margin-bottom: 0;margin-top: 0;padding: 0;}
embed, iframe, object {max-width: 100%;}
.wp-caption {margin-bottom: 1.5em;max-width: 100%;}
.wp-caption img[class*="wp-image-"] {display: block;margin-left: auto;margin-right: auto;}
.wp-caption .wp-caption-text {margin: .5075em 0;}
.wp-caption-text {text-align: center;}
.gallery {margin-bottom: 1.5em;}
.gallery-item {display: inline-block;text-align: center;vertical-align: top;width: 100%;}
.gallery-columns-2 .gallery-item {max-width: 50%;}
.gallery-columns-3 .gallery-item {max-width: 33.33%;}
.gallery-columns-4 .gallery-item {max-width: 25%;}
.gallery-columns-5 .gallery-item {max-width: 20%;}
.gallery-columns-6 .gallery-item {max-width: 16.66%;}
.gallery-columns-7 .gallery-item {max-width: 14.28%;}
.gallery-columns-8 .gallery-item {max-width: 12.5%;}
.gallery-columns-9 .gallery-item {max-width: 11.11%;}
.gallery-caption {display: block;}
h1, h2, h3, h4, h5, h6 {color: #222;font-weight: bold;}
strong, b {font-weight: bold;}
input, textarea, select {-webkit-appearance: none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input, input[type="text"], input[type="email"], input[type="url"], input[type="search"], input[type="password"], textarea {font-size: 15px;font-weight: normal;background-color: #fff;border: 1px solid #ddd;outline: none;color: #333;}
input:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="password"]:focus, textarea:focus {border-color: #bfbfbf;outline: none;}
textarea {padding: 10px 15px;}
input[type="text"], input[type="email"], input[type="url"], input[type="search"], input[type="password"] {height: 42px;line-height: 42px;padding: 0 15px;}
button, .btn, input[type="submit"], input[type="reset"], input[type="button"] {border: none;border-radius: 2px;padding: 0 15px;white-space: nowrap;vertical-align: middle;cursor: pointer;color: #fff;font-size: 14px;font-weight: bold;height: 42px;line-height: 42px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-appearance: none;-webkit-backface-visibility: hidden;}
button:hover, .btn:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {opacity: .85;text-decoration: none;}
button:focus, textarea:focus {outline: 0;}
table {color: #333;border-width: 1px;border-color: #e9e9e9;border-collapse: collapse;width: 100%;}
table th {border-width: 1px;padding: 8px;border-style: solid;border-color: #e6e6e6;background-color: #f0f0f0;}
table tr:hover td {background-color: #f9f9f9;}
table td {border-width: 1px;padding: 8px;border-style: solid;border-color: #e6e6e6;background-color: #fff;}
.alignleft {float: left;margin: 0 20px 20px 0;}
.alignright {float: right;margin: 0 0 20px 20px;}
.aligncenter {display: block;margin: 0 auto;text-align: center;clear: both;}
.alignnone {display: block;}
.clear:before, .clear:after {content: "";display: table;}
.clear:after {clear: both;}
.clear {clear: both;}
.screen-reader-text {clip: rect(1px,1px,1px,1px);position: absolute;}
.sticky, .bypostauthor {background: inherit;color: inherit;}
.box-shadow {box-shadow: rgba(190,190,190,.45882) 0px 1px 5px;-webkit-box-shadow: rgba(190,190,190,.45882) 0px 1px 5px;}
body {background: #eaebec;color: #414141;font-style: normal;font-size: 16px;font-weight: 400;line-height: 1.6em;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
a:visited {color: #222;}
a:active, a:focus {outline: 0;}
.container {margin: 0 auto;width: 1060px;}
@font-face {font-family: "Genericons";src: url("genericons/font/genericons-regular-webfont.eot");src: url("genericons/font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"),url("genericons/font/genericons-regular-webfont.woff") format("woff"),url("genericons/font/genericons-regular-webfont.ttf") format("truetype"),url("genericons/font/genericons-regular-webfont.svg#genericonsregular") format("svg");font-weight: normal;font-style: normal;}
.bypostauthor > article .fn:before, .comment-edit-link:before, .comment-reply-link:before, .comment-reply-login:before, .comment-reply-title small a:before, .comment-list .children li:before, .contributor-posts-link:before, .menu-toggle:before, .search-toggle:before, .slider-direction-nav a:before, .widget_happythemes_ephemera .widget-title:before {-webkit-font-smoothing: antialiased;display: inline-block;font: normal 16px/1 Genericons;text-decoration: inherit;vertical-align: text-bottom;}
#masthead .container {position: relative;}
.site-header {background-color: #fff;width: 100%;line-height: 1;}
.header-ad {float: right;line-height: .5;width: 728px;height: 90px;margin-top: 15px;text-align: center;}
.header-ad .widget-title {display: none;}
.search-icon {display: none;position: absolute;top: 30px;right: 2%;}
.search-icon:hover {cursor: pointer;}
.search-icon span {color: #222;font-size: 22px;font-weight: bold;vertical-align: middle;}
.search-icon .genericon-search.active {display: none;}
.search-icon .genericon-close {display: none;}
.search-icon .genericon-close.active {display: inline-block;}
.search-input {background: #fff;border: 1px solid #ddd;outline: none;height: 38px;line-height: 38px;color: #333;text-indent: 5px;}
.search-input:focus {background-color: #fff;border-color: #bfbfbf;}
.search-submit {border-left: none;color: #999;font-size: 15px;font-weight: 600;height: 38px;line-height: 1;outline: none;cursor: pointer;text-align: center;vertical-align: middle;}
.header-search {background-color: #fff;line-height: 1;width: 200px;height: 34px;position: absolute;top: 5px;right: 5px;z-index: 2;}
.header-search .search-input {background: transparent;border: none;color: #222;font-size: 14px;height: 34px;line-height: 32px;width: 170px;padding: 0 0 0 5px;}
.header-search .search-submit {background-color: #f64;box-shadow: none;border-radius: 2px;color: #fff;width: 26px;height: 26px;position: absolute;top: 4px;right: 4px;text-align: center;padding: 0;}
.header-search .search-submit .genericon {font-size: 18px;}
.header-search .search-submit:hover {opacity: .85;}
.site-start {background-color: #fff;display: block;width: 100%;height: 120px;}
.site-branding {float: left;text-align: left;}
.site-branding #logo {height: 120px;margin: 0;}
.site-branding .helper {display: inline-block;height: 100%;vertical-align: middle;}
.site-branding img {max-height: 90px;vertical-align: middle;}
.site-title {font-size: 32px;font-weight: bold;line-height: 120px;}
.site-title a {color: #333;display: block;}
.sf-menu * {margin: 0;padding: 0;list-style: none;}
.sf-menu {margin: 0;padding: 0;list-style: none;}
.sf-menu li {position: relative;}
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {display: block;}
.sf-menu ul {position: absolute;display: none;top: 100%;left: 0;z-index: 99;}
.sf-menu ul ul {top: 0;left: 208px;}
.sf-menu > li {float: left;}
.sf-menu a {display: block;position: relative;}
.sf-menu {float: left;}
.sf-menu ul {background-color: #fff;width: 230px;padding: 0 20px;box-shadow: rgba(190,190,190,.45882) 0px 1px 5px;-webkit-box-shadow: rgba(190,190,190,.45882) 0px 1px 5px;}
.sf-menu a {text-decoration: none;zoom: 1;}
.sf-menu li {line-height: 48px;white-space: nowrap;}
.sf-menu li a {padding: 0 20px;color: #222;font-size: 15px;}
.sf-menu li li {line-height: 1.5;border-bottom: 1px solid #f0f0f0;}
.sf-menu li li:last-child {border-bottom: none;}
.sf-menu li li a {color: #222;font-size: 15px;padding: 13px 0;}
.sf-menu li:hover li a, .sf-menu li.sfHover li a {color: #222;display: block;}
.sf-arrows .sf-with-ul:after {position: absolute;top: 50%;margin-top: -5px;height: 0;width: 0;content: "";font: normal 14px/1 "Genericons";display: inline-block;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.sf-arrows ul .sf-with-ul:after {top: 26px;right: 5px;margin-right: 0;content: "";font: normal 9px/1 "Genericons";display: inline-block;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
#secondary-bar {height: 44px;position: relative;}
.is-sticky {z-index: 99;position: relative;}
.main-navigation {background-color: #eef5ff;height: 44px;margin-bottom: 1px;}
#primary-menu.sf-arrows .sf-with-ul {padding-right: 30px;}
#primary-menu.sf-arrows .sf-with-ul:after {margin-top: -6px;margin-left: 2px;}
#primary-menu.sf-arrows li li .sf-with-ul {margin-right: 0;}
#primary-menu li {border-right: 1px solid #fff;position: relative;}
#primary-menu li a {background-color: #eef5ff;border-bottom: 4px solid #bcd;color: #26b;font-size: 15px;line-height: 40px;-webkit-transition: all 200ms;-moz-transition: all 200ms;transition: all 200ms;}
#primary-menu li.current-menu-item a, #primary-menu li.sfHover a, #primary-menu li a:hover {line-height: 40px;border-bottom: 4px solid #87d07e;}
#primary-menu li.current-menu-item li a {color: #333;}
#primary-menu li ul {margin: 0 0 0 -1px;}
#primary-menu li li {border-right: none;line-height: 1.5;padding-top: 0;}
#primary-menu li li a:link, #primary-menu li li a:visited, #primary-menu li li a:hover {background: none;border-bottom: none;color: #333;line-height: 1.5;margin: 0;}
#primary-menu li li.current-menu-item a {color: #333;}
#primary-menu li li .sf-with-ul:after {margin-top: -5px;}
#primary-menu li li ul {margin-top: 0;}
#secondary-menu.sf-arrows .sf-with-ul:after {margin-top: -7px;}
#secondary-menu.sf-arrows .sf-with-ul {padding-right: 24px;}
#secondary-menu.sf-arrows .sf-with-ul:after {right: 22px;}
#secondary-menu.sf-arrows li li .sf-with-ul {padding-right: 0;}
#secondary-menu.sf-arrows li li .sf-with-ul:after {right: 4px;}
#secondary-menu .sf-with-ul:after {margin-top: -7px;}
#secondary-menu li {line-height: 44px;}
#secondary-menu li a {color: #fff;font-size: 14px;font-weight: bold;}
#secondary-menu li.current-menu-item a, #secondary-menu li.sfHover a, #secondary-menu li a:hover {background-image: url("assets/img/overlay.png");background-repeat: repeat;}
#secondary-menu li li {line-height: 1.6;padding-bottom: 0;}
#secondary-menu li li a:link, #secondary-menu li li a:visited, #secondary-menu li li a:hover {background: none;background-repeat: none;color: #333;font-size: 15px;font-weight: normal;text-transform: none;}
.entry-title a:hover {color: #333;text-decoration: none;}
#page {background-color: #fff;margin: 0 auto;width: 1110px;}
.site-content {background-color: #fff;padding: 25px 0;}
#primary {float: left;width: 730px;}
.thumbnail-wrap {position: relative;}
.thumbnail-wrap .video-length {display: none;position: absolute;right: 3px;bottom: 3px;background-color: #333;background-color: rgba(0,0,0,.7);color: #fff;color: rgba(255,255,255,.9);line-height: 1;font-size: 11px;padding: 2px 3px;}
#recent-content {position: relative;}
.breadcrumbs {background-color: #f5f5f5;position: relative;margin-bottom: 25px;padding: 11px 20px;}
.section-header {position: relative;margin-bottom: 20px;}
.breadcrumbs h1, .breadcrumbs h2, .breadcrumbs h3, .section-header h1, .section-header h2, .section-header h3 {color: #999;font-size: 15px;font-weight: normal;margin-bottom: 0;text-transform: uppercase;}
.breadcrumbs h1 a, .breadcrumbs h1 a:visited, .breadcrumbs h2 a, .breadcrumbs h2 a:visited, .breadcrumbs h3 a, .breadcrumbs h3 a:visited, .section-header h1 a, .section-header h1 a:visited, .section-header h2 a, .section-header h2 a:visited, .section-header h3 a, .section-header h3 a:visited {color: #999;}
.breadcrumbs h1 a:hover, .breadcrumbs h2 a:hover, .breadcrumbs h3 a:hover, .section-header h1 a:hover, .section-header h2 a:hover, .section-header h3 a:hover {color: #222;text-decoration: none;}
.content-loop {margin-bottom: -25px;}
.content-loop .hentry {border-bottom: 1px solid #e9e9e9;width: 100%;margin-bottom: 25px;padding-bottom: 25px;position: relative;}
.content-loop .hentry:last-child {border-bottom: none;}
.content-loop .thumbnail-link {float: left;display: block;width: 220px;margin: 0 20px 0 0;position: relative;line-height: .5;text-align: center;}
.content-loop .thumbnail-link img {width: 100%;}
.content-loop .entry-header {display: table;}
.content-loop .entry-title {font-size: 24px;line-height: 1.3;margin-bottom: 12px;}
.content-loop .entry-author {font-size: 1.1em;}
.content-loop .entry-meta {margin-bottom: 12px;}
.content-loop .entry-summary {color: #333;display: table;line-height: 1.5;}
.content-loop .entry-summary p {display: inline;}
.content-loop .entry-summary span {font-size: 14px;}
.content-loop .entry-summary span a, .content-loop .entry-summary span a:visited {color: #87d07e;}
.content-loop .entry-footer {background-color: #fff;border-top: 1px solid #f0f0f0;height: 50px;line-height: 50px;padding: 0 25px;overflow: hidden;}
.content-loop .entry-footer ul {float: right;}
.content-loop .entry-footer ul li {float: left;list-style: none;}
.entry-comments-link {color: #999;font-size: 14px;padding-left: 30px;text-transform: lowercase;}
.entry-comments-link a:link, .entry-comments-link a:hover, .entry-comments-link a:visited {color: #999;}
.entry-comments-link a:link:hover span, .entry-comments-link a:hover:hover span, .entry-comments-link a:visited:hover span {border-color: #aaa;}
.entry-comments-link img {width: 16px;height: auto;}
.entry-meta {font-size: 14px;position: relative;color: #999;}
.entry-meta .sep {font-style: normal;margin: 0 4px;}
.entry-meta .entry-author .avatar {border-radius: 50%;width: 30px;height: auto;margin: 0 5px -10px 0;}
.pagination {border-top: 1px solid #e9e9e9;border-bottom: 3px solid;margin: 0 0 25px 0;width: 100%;text-align: center;text-transform: uppercase;}
.pagination .page-numbers {background-color: #fff;color: #333;display: inline-block;font-size: 16px;font-weight: bold;height: 40px;line-height: 40px;margin-right: -4px;padding: 0 15px;}
.pagination .page-numbers:hover {background-color: #f0f0f0;box-shadow: 0 1px 0 rgba(0,0,0,.1);text-decoration: none;}
.pagination .page-numbers.current {color: #fff;}
.pagination .page-numbers.current:hover {color: #fff;}
.pagination .nav-prev {float: left;position: relative;}
.pagination .nav-next {float: right;position: relative;}
.page-title {font-size: 30px;margin-bottom: 25px;line-height: 1.2;}
.single .entry-header {margin-bottom: 20px;}
.single .entry-header .entry-meta {margin-bottom: 20px;}
.single .entry-header .entry-comment a {color: #999;}
.single .entry-header .entry-comment a:hover {color: #333;}
.single .entry-footer {margin-top: 25px;}
.page .entry-header {margin-bottom: 20px;}
.error404 .site-main, .single .site-main, .page .site-main {position: relative;}
.error404 .site-main .entry-thumbnail, .single .site-main .entry-thumbnail, .page .site-main .entry-thumbnail {margin-bottom: 10px;}
.error404 h1.entry-title, .single h1.entry-title, .page h1.entry-title {font-size: 34px;line-height: 1.3;display: block;margin-bottom: 15px;}
.error404 .entry-content label, .error404 .page-content label {display: inline-block;}
.entry-related {border-top: 1px solid #e9e9e9;margin: 25px 0 -25px 0;padding: 25px 0 0 0;}
.entry-related h3 {font-size: 22px;margin-bottom: 25px;}
.entry-related .hentry {float: left;width: 163px;margin: 0 25px 25px 0;}
.entry-related .hentry.last {margin-right: 0;}
.entry-related .hentry:nth-of-type(4n+1) {clear: left;}
.entry-related .hentry .entry-title {font-size: 14px;font-weight: normal;line-height: 1.35;}
.entry-related .hentry .entry-title a {color: #333;}
.entry-related .hentry .entry-title a:hover {text-decoration: underline;}
.entry-related .hentry .thumbnail-link {display: block;width: 100%;margin: 0 0 10px 0;}
.entry-related .hentry .thumbnail-wrap {height: auto;line-height: .8;}
.entry-tags span {font-size: 13px;margin-right: 10px;}
.entry-tags .tag-links a {background-color: #f0f0f0;border-radius: 2px;box-shadow: 0 1px 0 rgba(0,0,0,.05);color: #666;display: inline-block;font-size: 13px;margin: 0 2px 0 0;padding: 2px 8px 2px 18px;position: relative;text-transform: lowercase;}
.entry-tags .tag-links a:hover {background-color: #e9e9e9;color: #222;text-decoration: none;}
.entry-tags .tag-links a:before {font-family: "genericons";font-size: 18px;color: #bbb;content: "";position: absolute;left: 1px;top: 3px;}
.author-box {border-top: 1px solid #e9e9e9;margin-top: 25px;padding: 30px 0 0 0;}
.author-box .avatar {border-radius: 50%;float: left;width: 72px;height: auto;line-height: .8;margin: 0 15px 0 0;}
.author-box .author-meta {display: table;}
.author-box .author-meta .author-name {font-size: 16px;margin-bottom: 5px;}
.author-box .author-meta .author-desc {color: #949494;margin-bottom: 5px;}
.page-content .wp-post-image, .entry-content .wp-post-image {margin-bottom: 10px;width: 100%;}
.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6, .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {margin-bottom: 25px;line-height: 1.35;}
.page-content h1, .entry-content h1 {font-size: 30px;}
.page-content h2, .entry-content h2 {font-size: 26px;}
.page-content h3, .entry-content h3 {font-size: 22px;}
.page-content h4, .entry-content h4 {font-size: 18px;}
.page-content h5, .page-content h6, .entry-content h5, .entry-content h6 {font-size: 16px;}
.page-content p, .entry-content p {line-height: 1.7;margin-bottom: 25px;}
.page-content ul, .page-content ol, .entry-content ul, .entry-content ol {margin: 0 0 25px 0;}
.page-content ul ul, .page-content ul ol, .page-content ol ul, .page-content ol ol, .entry-content ul ul, .entry-content ul ol, .entry-content ol ul, .entry-content ol ol {margin: 8px 0 0 25px;}
.page-content ul li, .entry-content ul li {list-style: none;margin: 0 0 10px 0;}
.page-content ul li:before, .entry-content ul li:before {font-family: "genericons";color: #87d07e;content: "";font-size: 20px;margin: 0 0 0 -4px;padding: 0 4px 2px 0;vertical-align: middle;text-align: left;}
.page-content ul li ul li, .entry-content ul li ul li {list-style: none;}
.page-content ol li, .entry-content ol li {list-style: inside decimal;margin: 0 0 10px 0;}
.page-content select, .entry-content select {padding: 0 5px;}
.page-content select:focus, .page-content select:active, .entry-content select:focus, .entry-content select:active {outline: none;}
.page-content dl, .entry-content dl {margin-bottom: 20px;}
.page-content fieldset, .entry-content fieldset {border: 1px solid #e9e9e9;margin: 0 2px 20px 2px;padding: .35em .625em .75em;}
.page-content input[type="radio"], .entry-content input[type="radio"] {-webkit-appearance: radio;}
.page-content input[type="checkbox"], .entry-content input[type="checkbox"] {-webkit-appearance: checkbox;}
.page-content ::-webkit-file-upload-button, .entry-content ::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
.page-content label, .entry-content label {display: block;font-weight: bold;}
.page-content table, .entry-content table {margin-bottom: 20px;}
.page-content select, .entry-content select {border: 1px solid #e9e9e9;font-size: 1em;-webkit-border-radius: 3px;border-radius: 3px;height: 2em;max-width: 100%;-webkit-appearance: menulist;}
.page-content input[type="text"], .page-content input[type="email"], .page-content input[type="url"], .page-content input[type="search"], .page-content input[type="password"], .entry-content input[type="text"], .entry-content input[type="email"], .entry-content input[type="url"], .entry-content input[type="search"], .entry-content input[type="password"] {width: 300px;}
.page-content input[type="file"], .entry-content input[type="file"] {border: none;}
.page-content textarea, .entry-content textarea {width: 100%;height: 200px;}
.page-content .wp-caption, .entry-content .wp-caption {background-color: #f7f7f7;padding: 0 0 1px 0;}
.page-content .wp-caption-text, .entry-content .wp-caption-text {font-size: 13px;font-style: italic;color: #999;}
blockquote {color: #999;font-size: 18px;font-style: italic;padding: .25em 50px;line-height: 1.45;position: relative;}
blockquote:before {display: block;content: "“";font-size: 64px;position: absolute;left: 0;top: -15px;color: #ccc;}
blockquote cite {color: #333;display: block;margin-top: 10px;}
blockquote cite:before {content: "— ";}
#primary p, .widget p {line-height: 1.7em;}
.search-no-results .page-title {font-size: 24px;margin-bottom: 10px;}
.search-no-results .page-content label, .search-no-results .entry-content label {display: inline;}
.comments-area {border-top: 1px solid #e9e9e9;background-color: #fff;margin: 25px 0 0 0;padding: 25px 0 0 0;}
.comments-title {font-size: 18px;margin-bottom: 25px;}
.comment-reply-title {font-size: 22px;margin-bottom: 20px;}
.comment-list {border-bottom: 1px solid #e9e9e9;list-style: none;margin: 0 0 25px 0;}
.comment-author {font-size: 14px;}
.comment-meta {margin-bottom: 4px;}
.comment-list .reply, .comment-metadata {font-size: 13px;}
.comment-list .reply {margin-top: 10px;}
.comment-author .fn {font-weight: bold;}
.comment-author a {color: #2b2b2b;}
.comment-list .trackback a, .comment-list .trackback a:visited, .comment-list .pingback a, .comment-list .pingback a:visited, .comment-metadata a, .comment-metadata a:visited, .comment-list .reply a, .comment-list .reply a:visited {color: #767676;}
.comment-list .trackback a:hover, .comment-list .pingback a:hover, .comment-metadata a:hover, .comment-list .reply a:hover {color: #333;}
.comment-author a:hover {color: #222;}
.comment-list article, .comment-list .pingback, .comment-list .trackback {margin: 0 0 20px 0;}
.comment-list > li:first-child > article, .comment-list > .pingback:first-child, .comment-list > .trackback:first-child {border-top: 0;}
.comment-author {position: relative;}
.comment-author .avatar {border-radius: 50%;position: absolute;top: 0;left: 0;width: 48px;height: auto;}
.bypostauthor > article .fn:before {color: #fbb034;content: "";margin: 0 2px 0 -2px;position: relative;top: -1px;}
.says {display: none;}
.comment-author, .comment-awaiting-moderation, .comment-content, .comment-list .reply {padding-left: 64px;}
.comment-author {display: inline;}
.comment-metadata {display: inline;margin-left: 7px;}
.comment-edit-link {margin-left: 10px;}
.comment-edit-link:hover {text-decoration: none;}
#cancel-comment-reply-link:hover {text-decoration: none;}
.comment-edit-link:before {content: "";}
.comment-reply-link:hover {text-decoration: none;}
.comment-reply-link:before, .comment-reply-login:before {content: "";color: #aaa;margin-right: 2px;}
.comment-content {-webkit-hyphens: auto;-moz-hyphens: auto;-ms-hyphens: auto;hyphens: auto;word-wrap: break-word;}
.comment-content ul, .comment-content ol {margin: 0 0 24px 22px;}
.comment-content li > ul, .comment-content li > ol {margin-bottom: 0;}
.comment-content > :last-child {margin-bottom: 0;}
.comment-list .children {list-style: none;margin-left: 64px;}
.comment .comment-respond {margin: 25px 0;}
.comment-respond h3 {margin-top: 0;}
.comment-notes, .comment-awaiting-moderation, .logged-in-as, .no-comments, .form-allowed-tags, .form-allowed-tags code {color: #767676;}
.comment-notes a, .comment-notes a:visited, .comment-awaiting-moderation a, .comment-awaiting-moderation a:visited, .logged-in-as a, .logged-in-as a:visited, .no-comments a, .no-comments a:visited, .form-allowed-tags a, .form-allowed-tags a:visited, .form-allowed-tags code a, .form-allowed-tags code a:visited {color: #767676;}
.comment-notes a:hover, .comment-notes a:visited:hover, .comment-awaiting-moderation a:hover, .comment-awaiting-moderation a:visited:hover, .logged-in-as a:hover, .logged-in-as a:visited:hover, .no-comments a:hover, .no-comments a:visited:hover, .form-allowed-tags a:hover, .form-allowed-tags a:visited:hover, .form-allowed-tags code a:hover, .form-allowed-tags code a:visited:hover {color: #222;}
.comment-notes, .comment-awaiting-moderation, .logged-in-as {font-size: 14px;font-style: italic;margin-bottom: 10px;}
.no-comments {font-size: 16px;font-weight: 900;line-height: 1.5;margin-top: 24px;text-transform: uppercase;}
.comment-form .comment-form-comment, .comment-form .comment-form-author, .comment-form .comment-form-email, .comment-form .comment-form-url {margin-bottom: 20px;}
.comment-form textarea {width: 100%;}
.comment-form .comment-form-author {float: left;width: 226px;margin-right: 25px;}
.comment-form .comment-form-email {float: left;width: 226px;margin-right: 25px;}
.comment-form .comment-form-url {float: left;width: 227px;}
.comment-form:after {content: "";display: block;clear: both;}
.comment-form .submit {font-size: 14px;padding: 0 18px;}
.comment-form-cookies-consent {margin: 0 0 20px 0;}
.comment-form-cookies-consent label {font-weight: normal !important;}
.comment-form label {font-size: 14px;font-weight: bold;}
input[type="checkbox"] {-webkit-appearance: checkbox;-moz-appearance: checkbox;-ms-appearance: checkbox;-o-appearance: checkbox;appearance: checkbox;}
.comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"] {width: 100%;}
.form-allowed-tags, .form-allowed-tags code {font-size: 12px;line-height: 1.5;}
.required {color: #c0392b;}
.comment-reply-title small a {color: #2b2b2b;float: right;height: 24px;overflow: hidden;width: 24px;}
.comment-reply-title small a:before {content: "";font-size: 20px;}
.comment-navigation {font-size: 12px;line-height: 2;margin-bottom: 48px;text-transform: uppercase;}
.comment-navigation .nav-next, .comment-navigation .nav-previous {display: inline-block;}
.comment-navigation .nav-previous a {margin-right: 10px;}
#comment-nav-above {margin-top: 36px;margin-bottom: 0;}
.sidebar {float: right;width: 300px;margin-bottom: -20px;}
.sidebar .widget {background-color: #fff;margin-bottom: 25px;}
.sidebar .widget .widget-title {color: #222;font-size: 14px;font-weight: bold;height: 24px;line-height: 24px;margin-bottom: 15px;padding-bottom: 5px;position: relative;text-transform: uppercase;}
.sidebar .widget .widget-title span {background-color: #fff;padding-right: 10px;z-index: 10;position: relative;}
.sidebar .widget .widget-title:after {background-color: #f0f0f0;content: " ";display: block;width: 100%;height: 4px;position: absolute;top: 10px;}
.sidebar .widget p {margin-bottom: 15px;}
.sidebar .widget ul .children, .sidebar .widget ul .sub-menu {padding-left: 1.5em;}
.sidebar .widget ul .children li:first-child, .sidebar .widget ul .sub-menu li:first-child {padding: 15px 0;border-top: 1px solid #e9e9e9;}
.sidebar .widget ul > li {list-style: none;margin-bottom: 15px;}
.sidebar .widget ul > li a {color: #333;}
.sidebar .widget ul li:last-child {margin-bottom: 0;}
.sidebar .widget select {width: 100%;max-width: 100%;}
.sidebar .widget_search input[type='search'] {width: 211px;}
.sidebar .widget_search input[type='submit'] {width: 80px;text-align: center;padding-left: 0;padding-right: 0;}
.sidebar .widget_social_icons ul li, .sidebar .widget_posts_thumbnail ul li {list-style: none;}
.sidebar .widget_social_icons ul li:before, .sidebar .widget_posts_thumbnail ul li:before {content: none;display: none;}
.sidebar .widget_posts_thumbnail {line-height: 1.4;}
.sidebar .widget_posts_thumbnail ul > li {margin-bottom: 20px;padding: 0 !important;}
.sidebar .widget_posts_thumbnail .thumbnail-wrap, .sidebar .widget_posts_thumbnail .wp-post-image, .sidebar .widget_posts_thumbnail img {width: 80px;height: auto;}
.widget_posts_thumbnail ul li {margin: 0 0 20px 0;}
.widget_posts_thumbnail li:after {content: "";display: block;clear: both;}
.widget_posts_thumbnail .entry-thumbnail {float: left;}
.widget_posts_thumbnail .entry-wrap {display: table;line-height: 1.25;}
.widget_posts_thumbnail .entry-wrap a {color: #222;font-size: 14px;}
.widget_posts_thumbnail .thumbnail-wrap {float: left;margin: 0 12px 0 0;line-height: 0;}
.widget_posts_thumbnail .entry-meta {font-size: 13px;margin-top: 5px;}
.widget_tag_cloud .tagcloud a {background-color: #f3f3f3;border-radius: 2px;box-shadow: 0 1px 0 rgba(0,0,0,.05);color: #666 !important;display: inline-block;font-size: 13px !important;margin: 0 2px 7px 0;padding: 2px 8px 2px 18px;position: relative;text-transform: lowercase;}
.widget_tag_cloud .tagcloud a:hover {background-color: #e9e9e9;color: #222 !important;text-decoration: none;}
.widget_tag_cloud .tagcloud a:before {font-family: "genericons";font-size: 18px;color: #bbb;content: "";position: absolute;left: 1px;top: 3px;}
.widget_recent_entries .post-date {font-size: 13px;color: #999;margin-left: 5px;}
.widget_categories ul li {color: #999;}
.footer-columns {border-top: 1px solid #e9e9e9;padding: 30px 0 10px 0;}
.footer-columns .section-header {font-size: 32px;margin-bottom: 20px;}
.footer-columns .widget {margin-bottom: 20px;}
.footer-columns .widget_posts_thumbnail .thumbnail-wrap, .footer-columns .widget_posts_thumbnail .wp-post-image, .footer-columns .widget_posts_thumbnail img {width: 80px;height: auto;}
.footer-columns .footer-column-1, .footer-columns .footer-column-2, .footer-columns .footer-column-3, .footer-columns .footer-column-4 {float: left;width: 242px;margin: 0 30px 0 0;box-sizing: content-box;position: relative;}
.footer-columns .footer-column-4 {margin-right: 0;}
.site-footer {background-color: #fff;}
.site-footer .widget {color: #333;font-size: 14px;margin-bottom: 25px;}
.site-footer .widget .widget-title {color: #333;font-size: 20px;margin-bottom: 20px;}
.site-footer .widget p {color: #333;margin-bottom: 15px;}
.site-footer .widget ul .children, .site-footer .widget ul .sub-menu {padding-left: 1.5em;}
.site-footer .widget ul .children li:first-child, .site-footer .widget ul .sub-menu li:first-child {border-top: none;padding-top: 0;}
.site-footer .widget ul .children li:last-child, .site-footer .widget ul .sub-menu li:last-child {border-bottom: none;padding-bottom: 0;}
.site-footer .widget ul > li {list-style: none;padding: 0;margin-bottom: 10px;}
.site-footer .widget ul > li a {color: #333;}
.site-footer .widget ul li:first-child {border-top: none;padding-top: 0;}
.site-footer .widget ul li:last-child {border-bottom: none;margin-bottom: 0;padding-bottom: 0;}
.site-footer .widget select {width: 100%;max-width: 100%;}
.site-footer .widget_posts_thumbnail ul li {margin-bottom: 20px;}
.site-footer .widget_posts_thumbnail ul li a {font-size: 14px;}
.site-footer .widget_posts_thumbnail .thumbnail-wrap {line-height: .5;}
.site-footer .widget_posts_thumbnail .entry-meta {color: #999;}
.site-footer .widget_search input[type='search'] {width: 100%;margin-bottom: 10px;}
.site-footer .widget_search input[type='submit'] {width: 100%;}
.sidebar, .site-footer {}
.sidebar .widget_ad .adwidget, .site-footer .widget_ad .adwidget {line-height: .8;}
.sidebar .widget_ad .widget-title, .site-footer .widget_ad .widget-title {color: #999;font-size: 13px;font-weight: normal;margin-bottom: 5px;text-align: center;}
.sidebar .widget_ad .widget-title:after, .site-footer .widget_ad .widget-title:after {content: none;}
.sidebar .widget_ad img, .site-footer .widget_ad img {line-height: .8;}
.sidebar .widget_newsletter, .site-footer .widget_newsletter {background-color: #2c3644;background-image: url("assets/img/icon-mail-trans.png");background-repeat: no-repeat;background-position: 110% -20px;color: #8b95a4;width: 100%;padding: 20px;}
.sidebar .widget_newsletter .widget-title, .site-footer .widget_newsletter .widget-title {color: #fff;}
.sidebar .widget_newsletter .widget-title span, .site-footer .widget_newsletter .widget-title span {background: none;}
.sidebar .widget_newsletter .widget-title:after, .site-footer .widget_newsletter .widget-title:after {content: none;}
.sidebar .widget_newsletter p, .site-footer .widget_newsletter p {color: #8b95a4;}
.sidebar .widget_newsletter form input[type="text"], .sidebar .widget_newsletter form input[type="email"], .site-footer .widget_newsletter form input[type="text"], .site-footer .widget_newsletter form input[type="email"] {border: none;width: 100%;margin-top: 15px;}
.sidebar .widget_newsletter form input[type="text"]:focus, .sidebar .widget_newsletter form input[type="email"]:focus, .site-footer .widget_newsletter form input[type="text"]:focus, .site-footer .widget_newsletter form input[type="email"]:focus {border: none;}
.sidebar .widget_newsletter form input[type="submit"], .sidebar .widget_newsletter form input[type="button"], .sidebar .widget_newsletter form button, .site-footer .widget_newsletter form input[type="submit"], .site-footer .widget_newsletter form input[type="button"], .site-footer .widget_newsletter form button {background-color: #87d07e;font-size: 14px;width: 100%;margin-top: 15px;}
.sidebar .widget_newsletter form h1, .sidebar .widget_newsletter form h2, .sidebar .widget_newsletter form h3, .sidebar .widget_newsletter form h4, .sidebar .widget_newsletter form h5, .sidebar .widget_newsletter form h6, .sidebar .widget_newsletter form label, .site-footer .widget_newsletter form h1, .site-footer .widget_newsletter form h2, .site-footer .widget_newsletter form h3, .site-footer .widget_newsletter form h4, .site-footer .widget_newsletter form h5, .site-footer .widget_newsletter form h6, .site-footer .widget_newsletter form label {display: none;}
.sidebar .widget_newsletter div, .sidebar .widget_newsletter p, .sidebar .widget_newsletter br, .site-footer .widget_newsletter div, .site-footer .widget_newsletter p, .site-footer .widget_newsletter br {display: inline;}
.sidebar .widget_newsletter .clear:before, .sidebar .widget_newsletter .clear:after, .site-footer .widget_newsletter .clear:before, .site-footer .widget_newsletter .clear:after {display: none !important;}
.sidebar .widget_social_icons, .site-footer .widget_social_icons {background-color: #f5f5f5;padding: 15px 10px;}
.sidebar .widget_social_icons .widget-title, .site-footer .widget_social_icons .widget-title {font-size: 16px;margin: 0 0 5px 0;padding: 0;text-align: center;text-transform: none;}
.sidebar .widget_social_icons .widget-title span, .site-footer .widget_social_icons .widget-title span {background: none;padding: 0 10px;}
.sidebar .widget_social_icons .widget-title:after, .site-footer .widget_social_icons .widget-title:after {content: none;}
.sidebar .widget_social_icons .desc, .site-footer .widget_social_icons .desc {color: #999;font-size: 14px;margin-bottom: 15px;text-align: center;}
.sidebar .widget_social_icons ul, .site-footer .widget_social_icons ul {text-align: center;}
.sidebar .widget_social_icons ul li, .site-footer .widget_social_icons ul li {border: none;display: inline-block;margin: 0 4px 0;}
.sidebar .widget_social_icons ul li a, .site-footer .widget_social_icons ul li a {display: block;width: 32px;text-align: center;-webkit-appearance: none;-webkit-backface-visibility: hidden;}
.sidebar .widget_social_icons ul li a:hover, .site-footer .widget_social_icons ul li a:hover {opacity: .85;}
#back-top {display: none;position: fixed;bottom: 15px;left: 50%;margin-left: 570px;}
#back-top a span {background-color: #555;border-radius: 2px;color: #fff;font-size: 18px;width: 30px;height: 30px;display: block;line-height: 30px;text-align: center;text-decoration: none;vertical-align: middle;}
#back-top a:hover span {color: #fff;background-color: #666;}
#back-top a:hover {text-decoration: none;}
#site-bottom {border-top: 1px solid #e9e9e9;color: #949494;font-size: 13px;padding: 15px 0;}
#site-bottom .site-info {float: left;}
#site-bottom .site-info a {color: #949494;}
#site-bottom .site-info a:hover {color: #222;}
#site-bottom .footer-nav {float: right;}
#site-bottom .footer-nav li {display: inline-block;list-style: none;line-height: 1;margin-left: 25px;}
#site-bottom .footer-nav li:last-child {border-right: none;padding-right: 0;}
#site-bottom .footer-nav li a {color: #949494;}
#site-bottom .footer-nav li a:hover {color: #222;}
#site-bottom .footer-nav li li {display: none;}
.step {color: red;font-weight: bold;}
.mobile-menu-icon {display: none;position: absolute;top: 26px;right: 48px;}
.mobile-menu-icon .menu-icon-close, .mobile-menu-icon .menu-icon-open {box-shadow: 0 1px 0 rgba(0,0,0,.05);border-radius: 2px;color: #fff;cursor: pointer;display: block;font-size: 13px;font-weight: bold;width: 64px;height: 28px;line-height: 28px;text-align: center;text-transform: uppercase;}
.mobile-menu-icon .menu-icon-close:hover, .mobile-menu-icon .menu-icon-open:hover {opacity: .85;}
.mobile-menu-icon .menu-icon-close {display: none;}
.mobile-menu-icon .menu-icon-close .genericon {margin-top: -2px;font-size: 18px;font-weight: 600;line-height: 1;vertical-align: middle;}
.mobile-menu-icon .menu-icon-open.active {display: none;}
.mobile-menu-icon .menu-icon-close {display: none;}
.mobile-menu-icon .menu-icon-close.active {display: inline-block;}
.mobile-menu {background-color: #f7f7f7;border-top: 1px solid #f0f0f0;display: none;position: absolute;width: 100%;top: 80px;padding: 25px 0;z-index: 99;}
.mobile-menu .menu-left, .mobile-menu .menu-right {float: left;width: 50%;}
.mobile-menu h3 {color: #222;font-size: 14px;margin-bottom: 15px;text-transform: uppercase;}
.mobile-menu ul li {display: block;list-style: none;margin-bottom: 15px;}
.mobile-menu ul li:hover:before {color: #ffa500;}
.mobile-menu ul li:before {font-family: "genericons";content: "";color: #999;font-size: 15px;margin-left: -4px;padding-right: 2px;vertical-align: middle;text-align: left;}
.mobile-menu ul li:last-child {margin-bottom: 0;}
.mobile-menu ul li.menu-item-home {display: none;}
.mobile-menu ul li a {color: #666;font-size: 14px;}